<div class="container">
    <h5>Github profile search app</h5>
    
 <form action="" class="search-form" (ngSubmit)="findProfile()">
    <div class="form-group">
    <input  class="form-control" type="text" placeholder="Enter your Github Username"  [(ngModel)]="username" name="username" >
    </div>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</div>
<div class="container" *ngIf="profile" id="whole">
    <div class="panel panel-default" id="panel">
        <div class="panel-heading" id="nav">
            {{profile.name}}
            <li id="date" class="list-group-item">Created at: {{profile.created_at | dateCount}}
        </div>

        <div class="panel-body">
            <div class="row" id="row">
                <div class="col-sm-4" id="img">
                    <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="profile image">
                </div>
                <div class="col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio"> Bio:{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
                        <li class="list-group-item" *ngIf="profile.emaill"><a href="email:{{profile.email}}" target="">{{profile.email}}</a></li>
                        <li class="list-group-item" > Created Acc on:{{profile.created_at|date}}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p id="repos">
                            <span class="label label-default" id="span1">  {{profile.followers}} Followers</span>
                            <span class="label label-primary" id="span2">  Following {{profile.following}}</span>
                            <span class="label label-secondary" id="span3"> <a href="{{profile.html_url}}" target="_blank"> {{profile.public_repos}} Repositories </a></span>
                            <span class="label label-success" id="span4">{{profile.public_gists}} Public Gists</span>
                        </p>
                        <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-warning btn-md">View Github Profile</a></p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 >Repositories</h4>
                            </div>
                            <div class="panel-body" *ngFor="let repo of repos">
                                <p>
                                   <a href="{{repo.html_url}}"  target="_blank">{{repo.name}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
